*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    width: 100%;
	height: 100%;
	background-color: black;
}
.hrCont{
	color: black;
	border-color: black;
	color: black;
}

.hrNav{
	color: rgb(203, 236, 231);
	border-color: rgb(203, 236, 231);
	color: rgb(203, 236, 231);
	width: 80%;
	margin-left: 10%;
}

.main{
    width: 49.5%;
    height: 100%;
    background-color: rgb(4, 29, 51);
    text-align: center;
    align-content: center;
	float: left;
	position: fixed;
	color: #fff;
	/*background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	*/
	background: linear-gradient(-45deg, rgb(100, 103, 104), rgb(35, 166, 213), rgb(21, 95, 58), rgb(82, 158, 140));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.navBar{
	margin-top: 7%;
	width: 50%;
	float: unset;
	font-family: Merienda;
	position: fixed;
	text-align: center;
}

@media (max-width: 768px) {
	body{
		background-color: black;
		width: 100%;
		height: 100%;
		color: black;
	}
	div{
		background-color: black;
		width: 100%;
		height: 100%;
		color: black;
	}
	nav{
		background-color: black;
		width: 100%;
		height: 100%;
		color: black;
	}
}

.navBttn{
	width: 10%;
	margin: 3%;
	font-size: 20px;
	text-decoration: none;
	color: rgb(203, 236, 231);	

}
 .navBttn:hover{
	 color: rgb(112, 209, 22);
 }

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.pic{
    width: 25%;
    height: 40%;
    padding: auto;
    display: block;
    align-items: center;
	background-image: url("img/profile.jpg");
	box-shadow: 0px 0px 25px rgb(51, 51, 51);
	background-position: center;
    border-radius: 15% 30%;
    background-repeat: no-repeat;
    margin-left: 37.5%;
    margin-top: 20%;
}
.name{
	font-family: Merienda;
	font-size: 30px;
}
.content{
    margin-left: 0.5%;
    width: 50%;
    height: auto;
    background-color: antiquewhite;
    text-align: justify;
	float: right;
	font-family: Special Elite;
	padding: 5% 4%;
	font-size: 20px;
}
.prof{
	height: 100%;
	padding-top: 5%;
}
.urls{
	width: 100%;
	align-content: center;
	padding-left: 30%;
}

